#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

a {
  text-decoration: none;
  color: #6f377e;
  margin: 0px 15px 0px 15px;
  font-size: 1.1rem;
}

a:hover {
  color: #34123d;
  text-decoration: underline;
}

h1 {
  color: #572764;
  font-size: 3.3rem;
}

p {
  color: #3b3a3a;
  font-size: 1.2rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

form input {
  width: 50%;
  padding: 5px;
}

form button {
  font-size: 1.1rem;
  background-color: #712885;
  color: white;
  padding: 15px;
  border-radius: 5px;
}

form button:hover, ul li button:hover {
  background-color: #4e1e5f;
  cursor: pointer;
}

ul li button {
  background-color: #712885;
  color: white;
  border-radius: 5px;
  margin-bottom: 15px;
}

ul li {
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
  justify-content: center;
}